<!-- /templates/index.liquid -->
{% comment %}

  This is the homepage of your site.

  More info on global variables (available on all templates):
    - http://docs.shopify.com/themes/liquid-variables/global
{% endcomment %}

{% comment %}
  Use class grid-uniform to have evenly sized columns clear
  each other properly at each breakpoint.
{% endcomment %}
<div class="grid-uniform">

<figure class="fullScreen mainBanner">
  <img src="http://placehold.it/1920x1080"/>
  <figcaption><span>Do they know you care?</span><a href="#" class="btn btn-primary">Learn More</a></figcaption>
</figure>

</div>

<div class="grid-uniform">

</div>
