<!-- /templates/index.liquid -->
{% comment %}

  This is the homepage of your site.

  More info on global variables (available on all templates):
    - http://docs.shopify.com/themes/liquid-variables/global
{% endcomment %}

{% comment %}
  Use class grid-uniform to have evenly sized columns clear
  each other properly at each breakpoint.
{% endcomment %}
<div class="grid-uniform">

<figure class="fullScreen mainBanner relative">
  <img src="http://placehold.it/1920x1080"/>
  <figcaption>
    <span>Do they know</span>
    <span>you care?</span>
    <p class="medium-down--hide"><span>Show them by providing them the nutrients they</span><span> need. Sustain their health so that you can enjoy</span><span> more years together.</span></p>
    <a href="/pages/how-it-works" class="btn btn-primary">Learn More</a>
  </figcaption>
</figure>

<div class="grid__item text-center contained">
  <figure>
    <img src="http://placehold.it/800x800" />
  </figure>
  <h2>All in one</h2>
  <p>One vitamin and mineral supplement to strengthen and support muscle, body, bones, joint, gut, digestion, hoof and hair. Your horses are family. Don't let health become a concern.</p>
  <a href="/pages/30-days-free" class="btn btn-primary">30-Day Trial</a>
</div>

<div class="parallax">

</div>

<div class="grid__item text-center">

  <h2>Explore your horse's health</h2>
  <span class="subText medium-down--hide">Roll mouse over any circle for more information</span>

  <div class="large--hide featureDiagram">

    <figure>
      <img src="http://placehold.it/800x800" />
    </figure>

    <ol>

      <figure>
        <img src="http://placehold.it/150x150" />
      </figure>
      <li>
        <h3>Muscle &amp; Body</h3>
        <p>The essential amino acids lysine and threonine provide the building blocks for optimal muscle growth, muscle mass penetration and improved performance.</p>
      </li>

      <figure>
        <img src="http://placehold.it/150x150" />
      </figure>
      <li>
        <h3>Gut &amp; Digestion</h3>
        <p>Diamond V yeast cultures promote a healthy gut, which increases feed digestibility and vitamin absorption, and maintains digestion during stress.</p>
      </li>

      <figure>
        <img src="http://placehold.it/150x150" />
      </figure>
      <li>
        <h3>Bone &amp; Joint</h3>
        <p>Balanced calcium and phosphorous, as well as trace minerals like zinc, copper and magnesium, supply the basis for proper bone and joint development and maintenance.</p>
      </li>

      <figure>
        <img src="http://placehold.it/150x150" />
      </figure>
      <li>
        <h3>Hoof &amp; Hair</h3>
        <p>Crucial trace minerals and the essential amino acids lysine and methionine provide the critical building blocks for healthy hooves and hair.</p>
      </li>

    </ol>

  </div>

  <div class="medium-down--hide featureDiagram">
    <figure>
      <img src="http://placehold.it/800x300" />
    </figure>
    <div class="muscle">
      <figure>
        <figcaption class="allCaps">
          Muscle &amp; Body
        </figcaption>
        <img class="circle" src="http://placehold.it/300x300" />
      </figure>
      <p>The essential amino acids lysine and threonine provide the building blocks for optimal muscle growth, muscle mass retention and improved performance.</p>
    </div>
    <div class="gut">
      <figure>
        <figcaption class="allCaps">
          Gut &amp; Digestion
        </figcaption>
        <img class="circle" src="http://placehold.it/300x300" />
      </figure>
      <p>Diamond V yeast cultures promote a healthy guyt, which increases feed digestibility and vitamin absorption, and maintains digestion during stress.</p>
    </div>
    <div class="bone">
      <figure>
        <figcaption class="allCaps">
          Bone &amp; Joint
        </figcaption>
        <img class="circle" src="http://placehold.it/300x300" />
      </figure>
      <p>Balanced calcium and phosphorous, as well as trace minerals like zinc, copper and magnesim, supply the basis for proper bone and joint development and maintenance.</p>
    </div>
    <div class="hoof">
      <figure>
        <figcaption class="allCaps">
          Hoof &amp; Hair
        </figcaption>
        <img class="circle" src="http://placehold.it/300x300" />
      </figure>
      <p>Crucial trace minerals and the essential amino acids lysine and methionine provide the critical building blocks for healthy hooves and hair.</p>
    </div>
  </div>

  <figure class="fancyBorder contained">
    <img src="http://placehold.it/1000x100" />
  </figure>

  <div class="grid__item text-center contained flex productEnd">
    <h2>A revolutionary solution</h2>

    <p>Hay Balancer is a vitamin and mineral supplement for horses on a hay diet. It balances macro-minerals, provides critical trace minerals, improves the protein profile of hay, provides critical essential amino acids and includes stable yeast cultures and important vitamins to improve digestion and gut health.</p>

    <a href="#" class="btn btn-primary">Purchase</a>

    <figure>
      <img src="http://placehold.it/800x800" />
    </figure>

    <div class="large--hide">

      <a href="#">
        <figure>
          <img src="http://placehold.it/300x700">
        </figure>
      </a>

      <p>Hay Balancer G is a premium vitamin and mineral supplement for horses on a grass hay diet.</p>

      <a href="#">
        <figure>
          <img src="http://placehold.it/300x700">
        </figure>
      </a>

      <p>Hay Balancer A is a premium vitamin and mineral supplement for horses on an alfalfa hay diet.</p>

      <a href="#" class="btn btn-primary">Purchase</a>
    </div>
  </div>

</div>


</div>
